
<div class="container">
    <div class="content">

    <mat-form-field>
      <input matInput type="text" placeholder="File Name" [formControl]="upObj['fileName']">
      <mat-error *ngIf="upObj['fileName'].hasError('required')">Must enter File Name</mat-error>
    </mat-form-field><br><br>
  
    <mat-form-field>
      <input matInput type="text" placeholder="Bucket Name" [formControl]="upObj['bucketName']">
      <mat-error *ngIf="upObj['bucketName'].hasError('required')">Must enter Bucket Name</mat-error>
    </mat-form-field><br><br>
  
    <mat-form-field>
      <input matInput type="password" required placeholder="Secret key" [formControl]="upObj['secretKey']">
      <mat-error *ngIf="upObj['secretKey'].hasError('required')">Must enter Secret Key</mat-error>
    </mat-form-field><br><br>
  
    <mat-form-field>
      <input matInput type="password" required placeholder="Private key" [formControl]="upObj['privateKey']">
      <mat-error *ngIf="upObj['privateKey'].hasError('required')">Must enter Private Key</mat-error>
    </mat-form-field><br><br>
  
    <mat-form-field>
      <input matInput type="text" placeholder="UUID" [formControl]="upObj['uuid']">
      <mat-error *ngIf="upObj['uuid'].hasError('required')">Must enter UUID</mat-error>
    </mat-form-field><br><br>
  
    <button (click)="downloadFile()">
      Download
    </button>

    </div>
  
  </div>